@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    /* --primary-color: #4338CA; */
    /* --primary-color: #DC3D24; */
    --primary-color: #3474b4;
    /*#66AFF9 */
    /* --primary-color: #09325c; */
    /* --primary-color: #0a0a23; */
    /*#53DEDE;*/
    /* --primary-color: #F84249;#EF4444; */
    --off-white: #E5E7EB;
    --secondary-color: #232B2B;
    --main-body: #fafafa;
    /* --dark-gray: #6B7280; */
    /* --dark-gray: #232B2B; */
}

hr {
    margin: 2rem 0rem;
}

.margin-md {
    margin: 2rem;
}

body {
    background-color: var(--main-body);
    font-family: 'Lato', sans-serif;
    margin: 0px;
}

/* containers */
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* links */
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/* lists */
.list-non-bullet {
    list-style: none;
}

.list-item-inilne {
    display: iniline;
    padding: 0rem 0.5rem;
}

/* .li {
    display:  inline;
    text-align: -webkit-match-parent;
} */

/* navigation */

.navigation {
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
}

.navigation .nav-pills {
    display: flex;
    text-align: right;
}

.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}

.hero {
    padding: 2rem;
    padding-top: 5rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--secondary-color);
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

/* sections */

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
    color: var(--secondary-color);
}

.ow {
    background-color: var(--off-white);
}

.footer {
    background-color: var(--primary-color);
    display: block;
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: white;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer ul {
    display: flex;
    justify-content: center;
    text-align: right;
    padding-inline-start: 0px;
}

.footer ul li img {
    display: flex;
    text-align: center;
    /* vertical-align: middle; */
    margin: 0 auto;
    max-width: 40px;

}

.format {
    letter-spacing: 4px;
    font-family: 'Roboto', sans-serif;
}