@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root {
    --primary-color: #4338CA;
}

hr {
    margin: 2rem 0rem;
}
body {
    font-family: 'Lato', sans-serif;
}
/* containers */
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-center {
    max-width: 600px;
    margin: auto;
}
/* links */
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color); 
}

/* lists */
.list-non-bullet {
    list-style: none;
}

.list-item-inilne {
    display: iniline; 
    padding: 0rem 0.5rem;
}